<?xml version="1.0"?>
<!--
/**
 * Tag Multi Site
 *
 * GuilhermeVenerato_TagMultiSite
 *
 * @category  GuilhermeVenerato
 * @package   GuilhermeVenerato_TagMultiSite
 * @author    Guilherme Venerato <guilhermevenerato@hotmail.com>
 * @copyright Copyright (c) 2022 Guilherme Venerato
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config>
    <system>
        <tab id="guilhermevenerato" translate="label" sortOrder="1">
            <label>Guilherme Venerato</label>
        </tab>
        <section id="tagmultisite" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tag Multi Site</label>
            <tab>guilhermevenerato</tab>
            <resource>GuilhermeVenerato_TagMultiSite::tagmultisite_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuração Geral</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Habilitado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
